li {
    margin: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    // color: #071b46;
    font-weight: 900;
    font-size: 1.2em;
    padding: 0.5rem;
}

.navbar-dark {
    width: 100%;
    height: auto;
    background-color:#4E5166;
    border-radius: 0px 0px 10px 10px;

}

.navbar-dark {
    background-clip: white;
}