li {
    margin: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    // color: #071b46;
    font-weight: 900;
    font-size: 1.2em;
    padding: 0.5rem;
}

.navbar-dark {
    background-color: #bdbab3;
}

.navbar-dark {
    background-clip: white;
}