    @mixin borderRadius($radius:5px) {
        border-radius: $radius;
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -o-border-radius: $radius;
        -ms-border-radius: $radius;
    }
    
    @mixin borderRadiusBotton($radius:5px) {
        border-radius: 0px 0px $radius $radius;
        -webkit-border-radius: 0px 0px $radius $radius;
        -moz-border-radius: 0px 0px $radius $radius;
        -ms-border-radius: 0px 0px $radius $radius;
        -o-border-radius: 0px 0px $radius $radius;
    }
    
    @mixin borderRadiusTop($radius:5px) {
        border-radius: $radius $radius 0px 0px;
        -webkit-border-radius: $radius $radius 0px 0px;
        -moz-border-radius: $radius $radius 0px 0px;
        -ms-border-radius: $radius $radius 0px 0px;
        -o-border-radius: $radius $radius 0px 0px;
    }
    
    @mixin borderRadiusRigth($radius:5px) {
        border-radius: 0px $radius $radius 0px;
        -webkit-border-radius: 0px $radius $radius 0px;
        -moz-border-radius: 0px $radius $radius 0px;
        -ms-border-radius: 0px $radius $radius 0px;
        -o-border-radius: 0px $radius $radius 0px;
    }
    
    @mixin borderRadiusLeft() {}
    
    // @mixin buttonAuto() {
    //     width: auto;
    //     padding: 1rem 2rem;
    //     margin-bottom: 4rem;
    //     font-size: 20px;
    //     color: white;
    //     background-image: linear-gradient(to bottom, $colour-secondary, $colour-primary);
    //     @include borderRadius($radiusDefault)
    // }
    @mixin buttonAuto() {
        width: auto;
        padding: 1rem 2rem;
        margin: 1rem 1rem 3rem 1rem;
        font-size: 14px;
        color: white;
        background-image: linear-gradient(to bottom, $colour-secondary, $colour-primary);
        @include borderRadius($radiusDefault);
        position: relative;
        z-index: 1;
        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: radial-gradient(circle, lighten($colour-secondary, 2) 25%, lighten($colour-secondary, 2) 25%);
            @include borderRadius($radiusDefault);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            -webkit-transition: opacity 250ms;
            -moz-transition: opacity 250ms;
            -ms-transition: opacity 250ms;
            -o-transition: opacity 250ms;
        }
    }
    
    @mixin tablet-only {
        @media screen and (min-width: map-get($breakpoints, tablet)) {
            @content;
        }
    }
    
    @mixin laptop-only {
        @media screen and (min-width: map-get($breakpoints, laptop)) {
            @content;
        }
    }
    
    @mixin desktop-only {
        @media screen and (min-width: map-get($breakpoints, desktop)) {
            @content;
        }
    }